

<!-- Call to Action Well -->
<div class="row">
 <div class="col-md-6">
  <div class="thumbnail">
    <div class="caption text-center ">
      <p><b>LOREM IPSUM</b></p>
      <p>Lorem ipsum dolor sit amet, consectetur
        adipisicing elit, sed do eiusmod tempor
        incididunt ut Iabore et dolore magna aliqua.
      </p>
    </div>    
    <button class="btn btn-primary center-block">
      LOREM IPSUM
    </button> 
  </div>
</div>
<div class="col-md-6">
  <div class="thumbnail">
    <div class="caption text-center ">
      <p><b>LOREM IPSUM</b></p>
      <p>Lorem ipsum dolor sit amet, consectetur
        adipisicing elit, sed do eiusmod tempor
        incididunt ut Iabore et dolore magna aliqua.
      </p>
    </div> 
    <button class="btn btn-primary center-block">
      LOREM IPSUM
    </button>    
  </div>
</div>
</div>


<!-- Call to Action Well -->
<div class="row">
  <div class="col-lg-12">
    Lorem Ipsum Lorem Ipsum
  </div>
  <!-- /.col-lg-12 -->
</div>

<!-- /.row -->
<div class="row">
  <div class="col-xs-12 col-sm-3">
    <div class="thumbnail">
      <div class="caption text-center ">
        <p><b>LOREM IPSUM</b></p>
        <p>EXAMPLE TEXT</p>
        <%= image_tag "blank.png" %>
      </div>
      <button class="btn btn-primary center-block">
        LOREM IPSUM
      </button>
    </div>
  </div>
  <!-- Add the extra clearfix for only the required viewport -->
  <div class="clearfix visible-xs-block"></div>

  <div class="col-xs-12 col-sm-3">
    <div class="thumbnail">
      <div class="caption text-center ">
        <p><b>LOREM IPSUM</b></p>
        <p>EXAMPLE TEXT</p>
        <%= image_tag "blank.png" %>
      </div>
      <button class="btn btn-primary center-block">
        LOREM IPSUM
      </button>
    </div>
  </div>
  
  <!-- Add the extra clearfix for only the required viewport -->
  <div class="clearfix visible-xs-block"></div>

  <div class="col-xs-12 col-sm-3">
    <div class="thumbnail">
      <div class="caption text-center ">
        <p><b>LOREM IPSUM</b></p>
        <p>EXAMPLE TEXT</p>
        <%= image_tag "blank.png" %>
      </div>
      <button class="btn btn-primary center-block">
        LOREM IPSUM
      </button>
    </div>
  </div>
  <!-- Add the extra clearfix for only the required viewport -->
  <div class="clearfix visible-xs-block"></div>

  <div class="col-xs-12 col-sm-3">
    <div class="thumbnail">
      <div class="caption text-center ">
        <p><b>LOREM IPSUM</b></p>
        <p>EXAMPLE TEXT</p>
        <%= image_tag "blank.png" %>
      </div>
      <button class="btn btn-primary center-block">
        LOREM IPSUM
      </button>
    </div>
  </div>
</div>
